<!DOCTYPE html>
<html>
  <head>
    <title>Interview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= render "layouts/profile"%>
    <%else%>
      <%= link_to "login", new_user_session_path %>
    <%end%>
    <%= yield %>
      <%= link_to "login", new_user_session_path %>
  </body>
</html>
